login {
  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px !important;
    text-align: center;
    position: inherit !important;
  }
  .sing-in {
    display: table-cell;
    vertical-align: middle;
    max-width: 400px;
    width: 350px;
    min-width: 250px;
  }

}


