register {

  .back-button.show-back-button{
    color: #ffffff;
  }

  .register .scroll-content {
    text-align: center;
  }

  .sing-up {
    max-width: 400px;
    width: 300px;
    min-width: 250px;
    margin: auto;
    margin-top: 25px;
  }

}
