main {

  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px !important;
    text-align: center;
    position: inherit !important;
  }
  .main-container {
    display: table-cell;
    vertical-align: middle;
  }
 
}




