main {

  .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px !important;
    text-align: center;
    position: inherit !important;
  }
  .main-container {
    display: table-cell;
    vertical-align: middle;
    max-width: 400px;
    width: 300px;
    min-width: 250px;
  }
  .swipe-right-icon{
    width: 12px;
    height: 12px;
    display: inline-block;
    background: #44b5f4;
    border-radius: 50%;
  }
  .swipe-right-icon.soft{
    background: rgba(68, 181, 244, 0.5294117647058824);
  }

}




