<ion-header no-shadow no-border>
  <ion-navbar color="blue" text-center>
    <ion-buttons left start>
      <button menuToggle ion-button icon-only >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
   <ion-list>
    <ion-item-sliding  *ngFor="let notify of notifications; let i = index" #item>
      <ion-item>
        <p ion-text> <ion-badge style="margin-right: 5px;" float-left *ngIf="notify.state" color="flat_secondary">Yeni</ion-badge> {{notify.title}}</p>
        <ion-note margin-top="5px">
          {{notify.created_date | date: 'dd/MM/yyyy'}}
        </ion-note>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="onDelete(i, notify.id)">
        <button  ion-button large  color="flat_danger" expandable (click)="onDelete(i, notify.id)">
          <ion-icon name="ios-trash-outline"></ion-icon>
          <div class="expand-hide"></div>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
