.center
{
  text-align:center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.disable_padding
{
  padding:0px;
}

.floatleft{
  float:left;
}
.floatright{
  float:right
}
.scroll-content {
  overflow-y: auto;
}


//Backgrounds
.background-cover {
  transform: translate3d(0%, 0px, 0px);
  opacity: 1;
  background: url('../assets/images/bg.png') no-repeat center center fixed;
  -moz-background-size: cover;
  background-size: cover;
}
.background-cover a {
  color: #fff;
  text-decoration: none;
}
.title {
  font-size: 24px;
  text-align: center;
  color: #fff;
  font-weight: 300
}