.scroll-content {
  overflow-y: auto;
}
.no-radius{
  border-radius: 0px !important;
}
.on-transition
{
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
}

//Backgrounds
.background-cover {
  background: url('../assets/images/bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;

  a[disabled], button[disabled], [ion-button][disabled] {
    opacity: 1 !important;
  }
}
.background-cover a {
  color: #fff;
  text-decoration: none;
}

.title {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 300
}
.back-button.show-back-button {
  color:#ffffff !important;
}
