.center
{
  text-align:center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.disable_padding
{
  padding:0px;
}
.scroll-content {
  overflow-y: auto;
}
.no-radius{
  border-radius: 0px !important;
}
.on-transition
{
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  -webkit-transition: height .3s;
  transition: height .3s;
}

//Backgrounds
.background-cover {
  background: url('../assets/images/bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;

}
.background-cover a {
  color: #fff;
  text-decoration: none;
}
.title {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-weight: 300
}
