search {
  .checkin{

    height: auto;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }
  .checkout{

    height: auto;
    text-align: center;
    padding: 10px 0px 0px 0px;

    margin:0px;
  }
  .title h2 {
    font-size: 16px;
    color: #9d9d9d;
  }
  .checkin span, .checkout span{
    font-size:11px;
  }
  .checkin-container{
    background: #f4f4f4;
    border: 1px solid #eaeaea;
  }
  .visitor{
    border:1px solid #e6e6e6 !important;
  }
}





