search {
  .checkin{

    height: auto;
    text-align: center;
    padding: 10px 0px 0px 0px;
  }
  .checkout{

    height: auto;
    text-align: center;
    padding: 10px 0px 0px 0px;

    margin:0px;
  }
  .title h2 {
    font-size: 16px;
    color: #9d9d9d;
  }
  .checkin span, .checkout span{
    font-size:11px;
  }
  .checkin-container{
    background: #f4f4f4;
    border: 1px solid #eaeaea;
  }
  .visitor{
    border:1px solid #e6e6e6 !important;
  }
  .search-container{
    height: 35vh;
    overflow: hidden;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
  }
  .map-container{
    height: 55vh;
  }
  .fullsize-map{
    position: absolute;
    right: 1%;
    bottom: 10%;
  }
}





