forgot {

  .forgot .scroll-content {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
    margin-top: -50px;
    text-align: center;
  }

  .forgot-form {
    display: table-cell;
    vertical-align: middle;
    max-width: 400px;
    width: 350px;
    min-width: 250px;
    margin:auto;
  }
  }



